/*first stage start*/
/*for desktop*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

/* navbar start here */

.nav-logo {
    text-align: left;
}

.nav-heading h1 {
    text-align: right;
}

.navbar-menu {
    flex-direction: row;
    justify-content: flex-end;
}

.navbar-menu a {
    padding: 10px 7px;
    margin: 20px 0px;
    background-color: transparent;
}

/* navbar end here */

/*first stage end*/

/*second stage start*/

/* profile start here */

.profile .bottom-weather-icon {
    bottom: 20px;    
    left: 60px;
   
    transition: width 2s, trasform 3s;
    width: 18%;

}

.profile .bottom-weather-icon:hover {
    width: 145px;
}


.profile-desk p {
    color: #103741;
    margin: 0 auto 20px auto;
    text-align: center;
    width: 50%;
    margin-bottom: 10px;
}

/* profile end here   */
/*second stage end*/

/* third stage start */
/*about me starts here */

.aboutme-image {
    margin-top: 90px;

}

.aboutme-image img {
    height: 270px;
    width: 270px;


}

.aboutme-desk p{
    text-align: left;
}

.cv-button:hover{
    box-shadow: 0px 3px 2px 3px;
    background-color: #aea0b6;
}




/*about me starts here */
/* third stage ends */

/* four  and five stage starts here  */
/* professional experience starts here  */

.professional-exprience {
    padding: 1% 5%;
}

/*professional experiencee  */
/* four and five stage ends here   */

/* six stage starts here  */
/* achivement contact starts from here  */

.contact button {
    
    width: 150px;
}

.contact-links{
    position: relative;
}

.achivement{
    padding-right: 50px;
}

.media-buttons {
    position: absolute;
    margin-top: 200px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
   
}


/* achivement contact ends from here  */
/* six and seven stage ends here  */

/* last stage starts here  */
/* footer starts here  */

.footer-menu {
    margin-top: 12px;

}

.footer-menu a {
    display: inline;
    margin: 10px;
}

/* footer ends here  */
/* last stage ends here  */